proxmox-kubernetes-master-1.yaml
proxmox-kubernetes-master-2.yaml
proxmox-kubernetes-master-3.yaml
proxmox-kubernetes-worker-1.yaml
proxmox-kubernetes-worker-2.yaml
proxmox-kubernetes-gpu-worker-1.yaml
proxmox-kubernetes-worker-3.yaml
proxmox-kubernetes-gpu-worker-2.yaml
proxmox-kubernetes-worker-4.yaml
proxmox-kubernetes-worker-5.yaml
proxmox-kubernetes-worker-6.yaml
talosconfig
